<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">

    <!-- CSS styles -->
    <link href="css/magnific-popup.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink" media="none" onload="if(media!='all')media='all'" />
    <link href="css/colors/blue.css" rel="stylesheet" title="blue" media="none" onload="if(media!='all')media='all'" />
    <link href="css/colors/green.css" rel="stylesheet" title="green" media="none" onload="if(media!='all')media='all'" />

    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
    <link href="fonts/opensans/opensans.css" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
    <!-- CSS styles -->
    <link href="css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="css/filter-rtl.css" rel="stylesheet">
    <link href="css/style-rtl.min.css" rel="stylesheet">
    <!-- Custom color styles -->
    <link href="css/colors/pink.css" rel="stylesheet" title="pink" media="none" onload="if(media!='all')media='all'" />
    <link href="css/colors/blue.css" rel="stylesheet" title="blue" media="none" onload="if(media!='all')media='all'" />
    <link href="css/colors/green.css" rel="stylesheet" title="green" media="none" onload="if(media!='all')media='all'" />
</head>

<body>

    <!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->

    <!-- ***** STATISTICS ***** -->
    <section class="circle-section shopping blog sec-normal sec-bg2 ">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 text-left">
                    <h2 class="section-heading">Our Statistics</h2>
                    <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt consectetur adipiscing.</p>
                    <a href="" class="btn btn-default-yellow-fill mt-5">Learn more</a>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8 text-left">
                    <div class="col-sm-12 col-md-4 col-lg-4 float-left">
                        <div class="skill-section">
                            <div class="circle-wrapper">
                                <div class="circle-entry clearfix">
                                    <div class="circle center-block color-dark-2" data-startdegree="0" data-dimension="180" data-text="<strong class='number'>19.322</strong><div class='title-round'>Clients</div>" data-width="5" data-fontsize="17" data-percent="90" data-fgcolor="#808080"
                                        data-bgcolor="transparent" data-bordersize="2">
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 float-left">
                        <div class="skill-section">
                            <div class="circle-wrapper">
                                <div class="circle-entry clearfix">
                                    <div class="circle center-block color-dark-2" data-startdegree="0" data-dimension="180" data-text="<strong class='number'>9.510</strong><div class='title-round'>Equipment</div>" data-width="5" data-fontsize="17" data-percent="65" data-fgcolor="#808080"
                                        data-bgcolor="transparent" data-bordersize="2"></div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 float-left">
                        <div class="skill-section">
                            <div class="circle-wrapper">
                                <div class="circle-entry clearfix">
                                    <div class="circle center-block color-dark-2" data-startdegree="0" data-dimension="180" data-text="<strong class='number'>1231</strong><div class='title-round'>Projects</div>" data-width="5" data-fontsize="17" data-percent="45" data-fgcolor="#808080"
                                        data-bgcolor="transparent" data-bordersize="2"></div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- sidebar -->
                <div class="col-md-4">
                    <aside class="sidebar">
                        <div class="cd-filter-block checkbox-group">
                            <label><a href=""><i class="fas fa-search"></i></a></label>
                            <input type="text" class="input" placeholder="Search..." />
                        </div>
                        <div class="posts">
                            <div class="tabs">
                                <div class="tabs-header">
                                    <ul class="list">
                                        <li class="active">Most popular</li>
                                        <li>Newest article</li>
                                    </ul>
                                </div>
                                <div class="tabs-content">
                                    <div class="tabs-item active">
                                        <div class="item-wrap">
                                            <a href=""><img data-src="img/topbanner06.jpg" class="img lazyload" alt=""></a>
                                            <div class="heading-article"><a href="">Domains</a></div>
                                            <a href="" class="c-grey"><small><i class="far fa-file-alt"></i> What can I do with a domain..</small></a>
                                        </div>
                                        <div class="item-wrap">
                                            <a href=""><img data-src="img/topbanner05.jpg" class="img lazyload" alt=""></a>
                                            <div class="heading-article"><a href="">Cloud VPS</a></div>
                                            <a href="" class="c-grey"><small><i class="far fa-file-alt"></i> What is a Cloud VPS Server..</small></a>
                                        </div>
                                        <div class="item-wrap">
                                            <a href=""><img data-src="img/topbanner03.jpg" class="img lazyload" alt=""></a>
                                            <div class="heading-article"><a href="">Hosting</a></div>
                                            <a href="" class="c-grey"><small><i class="far fa-file-alt"></i> Does Shared Web Hosting..</small></a>
                                        </div>
                                    </div>
                                    <div class="tabs-item">
                                        <div class="item-wrap">
                                            <a href=""> <img data-src="img/topbanner04.jpg" class="img lazyload" alt="">
                                                <div class="heading-article"><a href="">Dedicated</a></div>
                                                <a href="" class="c-grey"><small><i class="far fa-file-alt"></i> How to install Control Panel..</small></a>
                                        </div>
                                        <div class="item-wrap">
                                            <a href=""><img data-src="img/topbanner02.jpg" class="img lazyload" alt=""></a>
                                            <div class="heading-article"><a href="">Cerrtificates SSL</a></div>
                                            <a href="" class="c-grey"><small><i class="far fa-file-alt"></i> What are SSL certificates and..</small></a>
                                        </div>
                                        <div class="item-wrap">
                                            <a href=""><img data-src="img/topbanner01.jpg" class="img lazyload" alt=""></a>
                                            <div class="heading-article"><a href="">Cloud Reseller</a></div>
                                            <a href="" class="c-grey"><small><i class="far fa-file-alt"></i> What exactly is Cloud Reseller..</small></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="categories">
                            <div class="heading active">Archives</div>
                            <div class="line active"></div>
                            <div class="heading"><a href="">February</a> <span>2018</span></div>
                            <div class="line"></div>
                            <div class="heading"><a href="">April</a> <span>2017</span></div>
                            <div class="line"></div>
                            <div class="heading"><a href="">May</a> <span>2016</span></div>
                            <div class="line"></div>
                            <div class="heading"><a href="">August</a> <span>2014</span></div>
                            <div class="line"></div>
                            <div class="heading"><a href="">October</a> <span>2013</span></div>
                            <div class="line"></div>
                            <div class="heading"><a href="">December</a> <span>2012</span></div>
                        </div>
                        <div class="tags">
                            <div class="heading active">Product tags</div>
                            <div class="line active"></div>
                            <a href="" class="c-grey mr-3">Hosting</a>
                            <a href="" class="c-grey mr-3">Cloud</a>
                            <a href="" class="c-grey mr-3">Reseller</a>
                            <a href="" class="c-grey mr-3">Email</a>
                            <a href="" class="c-grey mr-3">VPS</a>
                            <a href="" class="c-grey mr-3">Dedicated</a>
                            <a href="" class="c-grey mr-3">Domains</a>
                            <a href="" class="c-grey mr-3">Certificates SSL</a>
                        </div>
                    </aside>
                </div>


                <div class="col-md-8">
                    <div class="wrap-blog">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="sec-normal pt-0">
                                    <div class="sec-main sec-bg1">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div id="table-container" class="table-responsive-lg tabs-content">

                                                    <table class="table tabs-item active">

                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div>MySQL Version</div>
                                                                </td>
                                                                <td>MySQL Server 8.0</td>
                                                                <td>MySQL Server 8.0</td>
                                                                <td>MySQL Server 8.0</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div>SSD Storage</div>
                                                                </td>
                                                                <td>2GB SSD</td>
                                                                <td>10GB SSD</td>
                                                                <td>30GB SSD</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="title-table">Database</td>
                                                                <td>Unlimited</td>
                                                                <td>Unlimited</td>
                                                                <td>Unlimited</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="title-table">Traffic</td>
                                                                <td>Unlimited</td>
                                                                <td>Unlimited</td>
                                                                <td>Unlimited</td>
                                                            </tr>

                                                            <tr>
                                                                <td class="border-0 sticky-stopper"></td>
                                                                <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                                                                <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                                                                <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div id="bottom_anchor"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </section>


    <footer id="footer"> </footer>
    <!-- ***** BUTTON GO TOP ***** -->
    <a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
    <!-- Javascript -->
    <script src="js/jquery.min.js"></script>
    <script defer src="js/popper.min.js"></script>
    <script defer src="js/bootstrap.min.js"></script>
    <script defer src="js/jquery.circliful.min.js"></script>
    <script defer src="js/jquery.viewportchecker.min.js"></script>
    <script defer src="js/jquery.countdown.js"></script>
    <script defer src="js/jquery.magnific-popup.min.js"></script>
    <script defer src="js/slick.min.js"></script>
    <script defer src="js/owl.carousel.min.js"></script>
    <script defer src="js/isotope.min.js"></script>
    <script defer src="js/variables.js"></script>
    <script defer src="js/swiper.min.js"></script>
    <script async src="js/lazysizes.min.js"></script>
    <script defer src="js/scripts.min.js"></script>

</body>

</html>